{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css"/>
		<link rel="stylesheet" href="https://objectstorage.sa-santiago-1.oraclecloud.com/p/QbIVCSOWDb95kTWGLnVu3ERqInqR5JMJcuhhVspNknTxsa_fH6H89C-5Us-ScVOI/n/axkhpy1ggxz1/b/Almacen/o/cssstyle.css"/>
        <title>Rustize components</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/98de68f252.js" crossorigin="anonymous"></script>

</head>
<body>
    <div class="container">
        <div class="navbar">
            <a class="logo-nav" href="">RUSTEZE. TEST</a>
            <nav class="nav">
                <ul id="menuList">
                    <li><a href="">Productos</a></li>
                    <li><a href="">Sobre nostros</a></li>
                    <li><a href="">Contactenos</a></li>
                    <li><a href="">Iniciar sesion/registrarse</a></li>
                </ul>
            </nav>
            <img src="https://objectstorage.sa-santiago-1.oraclecloud.com/p/azXoT22UyrcEVNN4FiXo875V-cYL4qkzy8u6eV62zb-sc5N5ZFs3rQtY8E8382bM/n/axkhpy1ggxz1/b/rusteze/o/menu.png" class="menu-nav" onclick="togglemenu()" alt="">
        </div>

        <div class="row">
            <div class="col-1">
                <h2>Productos<br>AUTOMOVILISTICOS</h2>
                <h3>Respuestos, pinturas y componentes para tu automovil.</h3>
                <p>(Mistubishi, Honda, Nissan)</p>
                <button class="boton-index" type="button"><b>Ver productos </b> <img class="img-boton" src="https://objectstorage.sa-santiago-1.oraclecloud.com/p/X2obIFEgijoCHFUc0s24b7Rkjqg1RK-H2DNJs7SNE8lnTh95nMKqN3h-GayhfYjA/n/axkhpy1ggxz1/b/rusteze/o/arrow.png" alt=""></button>
            </div>
            <div class="col-2">
                <img src="https://objectstorage.sa-santiago-1.oraclecloud.com/p/uTfwnjLurDCGyAIKeHdlcrSL8AI-PjXVAsY4jZR2WQ82Y-ixWpGp7gxa79xTeRZh/n/axkhpy1ggxz1/b/rusteze/o/rueda.png" class="main-index" alt="">
                <div class="color-box"></div>
                <div class="add-boton">
                    <img src="https://objectstorage.sa-santiago-1.oraclecloud.com/p/IkENJYQKZXI3VfNavui4gkg5Y-EMmlEDUUUxyXDSYP-zVheajgvX8Jo84wo7TuVu/n/axkhpy1ggxz1/b/rusteze/o/add.png" alt="">
                    <p><small><b>Añadir al carro</b> </small></p>
                </div>
            </div>
        </div>
    </div>

<!-- Cards de productos -->

<main>
    <div class="container2">
        <div class="card card-yellow">
        <img class="logo-card" src="https://objectstorage.sa-santiago-1.oraclecloud.com/p/hcf2DRHA4n4hsVeqZKD4Zdp4Nh89UOYJtBzJ1zEPwhXNYe-CSWOKxjk3hPk5G56R/n/axkhpy1ggxz1/b/rusteze/o/Rusteze-logo.png"  alt=""/>
        <h2 class="title">The <br> Best <br> way </h2>
        <img class="producto" src="https://objectstorage.sa-santiago-1.oraclecloud.com/p/ukgqr6UuXjEPZf_XHpiXYjs_70vGK-k9mKI-Yjh6AKZSY-5RVFVs_oO9bqhoX5iZ/n/axkhpy1ggxz1/b/rusteze/o/image_1.png" alt="">
        <div class="price">
            <h6>CLP$ 520,000</h4>
            <h4>CLP$ 479,000</h3>
        </div>
        <div class="button-right">
            <button><b> Comprar </b></button>
        </div>
        </div>

        <div class="card card-blue">
            <img class="logo-card" src="https://objectstorage.sa-santiago-1.oraclecloud.com/p/xDpBVhUnKWePYiAl5AsponQsWFDv5QyNOU0XvRt7q4Yh1hjgSnozNit7Xeoaz9ao/n/axkhpy1ggxz1/b/rusteze/o/Rusteze-logo.png" />
            <h2 class="title">The <br> best <br> way</h2>
            <img class="producto" src="https://objectstorage.sa-santiago-1.oraclecloud.com/p/DHtzPcSdFz1rUeqF_mjUfxQDGXzRvpD7DM6KAZ-9Wp2Zbsb8_pWo7dnVgAxA3YFF/n/axkhpy1ggxz1/b/rusteze/o/image_2.png">
            <div class="price">
            <h6>CLP$ 520,000</h4>
            <h4>CLP$ 479,000</h3>
            </div>
            <div class="button-right">
            <button><b> Comprar </b></button>
            </div>
        </div>

        <div class="card card-red">
            <img class="logo-card" src="https://objectstorage.sa-santiago-1.oraclecloud.com/p/xDpBVhUnKWePYiAl5AsponQsWFDv5QyNOU0XvRt7q4Yh1hjgSnozNit7Xeoaz9ao/n/axkhpy1ggxz1/b/rusteze/o/Rusteze-logo.png" />
            <h2 class="title">The <br> best <br> way</h2>
            <img class="producto" src="https://objectstorage.sa-santiago-1.oraclecloud.com/p/rFydvvSMQSOqH5jgkVpqJlcFFaRgqV28x1ibWKX22pkrGSBqKXDD4u53R6Xk-E8N/n/axkhpy1ggxz1/b/rusteze/o/image_3.png">
            <div class="price">
            <h6>CLP$ 520,000</h4>
            <h4>CLP$ 479,000</h3>
            </div>
            <div class="button-right">
            <button><b> Comprar </b></button>
            </div>
        </div>
    </div>
</main>

<!-- Espacio entre container2 y footer -->
<div class="espacio">
    <p>dasasd

    </p>
</div>


<!-- Footer -->

    <footer class="pie-pagina">
        <div class="grupo-1">
            <div class="box">
                <figure>
                    <a href="#">
                        <img src="https://objectstorage.sa-santiago-1.oraclecloud.com/p/xDpBVhUnKWePYiAl5AsponQsWFDv5QyNOU0XvRt7q4Yh1hjgSnozNit7Xeoaz9ao/n/axkhpy1ggxz1/b/rusteze/o/Rusteze-logo.png" alt="Logo de Rusteze">
                    </a>
                </figure>
            </div>
            <div class="box">
                <h2>SOBRE NOSOTROS</h2>
                <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium, quibusdam!</P>
                <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae, corporis.</P>
            </div>
            <div class="box">
                <h2>SIGUENOS</h2>
                <div class="red-social">
                <a href="#" class="fa fa-facebook"></a>
                <a href="#" class="fa fa-instagram"></a>
                <a href="#" class="fa fa-whatsapp"></a>
                <a href="#" class="fa fa-twitter"></a>
                </div>
            </div>
        </div>
        <div class="grupo-2">
            <small>&copy; 2023 <b>Rusteze</b> - Todos los derechos reservados </small>
        </div>
    </footer>


    <script>
        var menuList = document.getElementById("menuList");
        menuList.style.maxHeight =  "0px";
        function togglemenu(){
            if(menuList.style.maxHeight === "0px") {
                menuList.style.maxHeight = "130px"
            }
            else {
                menuList.style.maxHeight = "0px";
            }
        }
    </script>
</body>


